@use '../abstracts/' as a;

.feature-section-2 {
    padding: a.$spacing-800;
    color: var(--white);
    background: linear-gradient(to left, rgba(77, 150, 169, 0.9), rgba(80, 150, 169, 0.9)), url('assets/mobile/image-footer.jpg');
    background-size: cover;
    margin-top: -1.8rem;
    text-align: center;

    @include a.add-flex(column, a.$spacing-300);

    p {
        color: var(--white);
    }

    @media all and (min-width: 768px) {
        background: linear-gradient(to left, rgba(77, 150, 169, 0.9), rgba(80, 150, 169, 0.9)), url('assets/tablet/image-footer.jpg');
        background-size: cover;
    }

    @media all and (min-width: 1440px) {
        background: linear-gradient(to left, rgba(77, 150, 169, 0.9), rgba(80, 150, 169, 0.9)), url('assets/desktop/image-footer.jpg');
        background-size: cover;
    }
}