@use '../abstracts/' as a;

.feature-section-1 {
    padding: a.$spacing-400 a.$spacing-400 a.$spacing-800 a.$spacing-400;
    text-align: center;

    @include a.add-flex(column, a.$spacing-800);

    &__body {
        @include a.add-flex(column, a.$spacing-400);
        max-width: a.rem(544);
        margin: 0 auto;
    }

    &__header {
        @include a.add-flex(column, a.$spacing-200);
    }

    &__subheading {
        color: var(--cyan-600);
    }
}