@use '../abstracts/' as a;

header {
    padding-top: a.rem(48);
    display: flex;
    justify-content: center;
    align-items: end;

    img {
        width: a.rem(118);
    }

    @media (min-width: 1400px) {
        padding-top: a.$spacing-1000;
    }
}