@use '../abstracts' as a;

.hero {
    padding: a.$spacing-800 a.$spacing-400;
    text-align: center;
    overflow-x: hidden;

    @include a.add-flex(column, a.$spacing-800);

    // &__image-container {
    //     width: 110%;
    //     height: 10rem;
    //     background: url('assets/tablet/image-hero.png');
    //     background-size: cover;
    // }

    @media (min-width: 760px) {
        padding-top: a.rem(90);
    }

    @media (min-width: 1440px) {
        padding-left: 0;
        padding-right: 0;
    }

    &__image-left {
        display: block;
        transform: scale(1.3);
        max-width: a.rem(394);
        max-height: auto;

        @media (min-width: 760px) {
            transform: scale(1.4);
        }

        @media (min-width: 1440px) {
            transform: scale(1);
        }
    }

    &__image-right {
        display: none;
        margin-top: -(a.$spacing-800);
        max-width: a.rem(394);
        max-height: auto;

        @media (min-width: 1440px) {
            margin-top: 0;
            display: block;
        }
    }

    &__body {
        max-width: a.rem(448.3);
        width: 100%;
        @include a.add-flex(column, a.$spacing-300);

        @media (min-width: 768px) {
            // padding-top: a.rem(40);
        }

        @media (min-width: 1440px) {
            @include a.add-flex(column, a.$spacing-400);
        }
    }

    &__cta {
        @include a.add-flex(column, a.$spacing-200);

        @media (min-width: 768px) {
            @include a.add-flex(row, a.$spacing-200);
        }
    }

    @media all and (min-width: 1440px) {
        @include a.add-flex(row, a.$spacing-1400);
    }
}