@use '../abstracts/' as a;

$spacing-values: (
    "50": a.rem(4), 
    "100": a.rem(8), 
    "200": a.rem(16), 
    "300": a.rem(24), 
    "400": a.rem(32), 
    "500": a.rem(40), 
    "700": a.rem(56),
    "800": a.rem(64),
    "900": a.rem(72),
    "1000": a.rem(80),
    "1400": a.rem(112)
);

@each $key, $value in $spacing-values {
    .pt-#{$key} {
        padding-top: $value;
    }
    .pb-#{key} {
        padding-bottom: $value;
    }
    .py-#{$key} {
        padding: $value 0;
    }

    .pl-#{$key} {
        padding-left: $value;
    }
    .pr-#{$key} {
        padding-right: $value;
    }
    .px-#{$key} {
        padding: 0 $value;
    }

    .p-#{$key} {
        padding: $value;
    }
    
    .mt-#{$key} {
        margin-top: $value;
    }
    .mb-#{key} {
        margin-bottom: $value;
    }
    .my-#{$key} {
        margin: $value 0;
    }

    .ml-#{$key} {
        margin-left: $value;
    }
    .mr-#{$key} {
        margin-right: $value;
    }
    .mx-#{$key} {
        margin: 0 $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    .gap-#{$key} {
        gap: $value;
    }
}
